<section class="agenda" id="agenda">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path class="triangle" d="M0 0 L100 100 L100 0 Z"></path>
    </svg>

    <div class="container">
        {% include title.html title="Agenda" %}
        {% for day in site.data.agenda %}
            <h3>{{ day.day }} - {{ day.date }}</h3>
            <ul>
                {% assign counter = 0 %}
                {% for track in day.tracks %}
                    {% if track.lightning %}
                        {% comment %} Lightning talks placeholder {% endcomment %}
                        <li class="track lightning">
                            <div class="track-time">
                                <p>{{ track.hour }}</p>
                            </div>
                            <div class="track-details">
                                <p class="track-details-content-title">{{ track.title }}</p>
                            </div>
                        </li>
                    {% elsif track.speaker %}
                        {% comment %} Talks track style {% endcomment %}
                        {% if track.photo %}
                            {% assign default = false %} {% assign picture = track.photo %}
                        {% else %}
                            {% assign default = true %} {% assign picture = "400.png" %}
                        {% endif %}
                        <li class="track collapsable{% cycle '', ' reverse' %}">
                            <div class="track-time">
                                <p>{{ track.hour }}</p>
                            </div>
                            <div class="track-details">
                                <div class="track-details-image">
                                    <div style="background-image: url('/images/speakers/{{ picture }}');"></div>
                                </div>
                                <div class="track-details-content">
                                    <p class="track-details-content-title">{{ track.title }}</p>
                                    <p class="track-details-content-speaker">
                                        {% for speaker in track.speaker %}
                                            <span><a href="https://twitter.com/{{ speaker[1] }}">{{ speaker[0] }}</a></span>
                                        {% endfor %}
                                    </p>
                                    <p class="track-details-content-collapse" onclick="toggleInfo(this)">+</p>
                                    <div class="track-details-content-abstract">
                                        {% for text in track.abstract %}
                                            <p>{{ text }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% elsif track.party %}
                        {% comment %} Closing Party {% endcomment %}
                        <li class="track party">
                            <div class="party-details">
                                <p class="party-place">{{ track.place }}</p>
                                <p class="party-title">{{ track.hour }} - {{ track.title }}</p>
                                <p class="party-address">{{ track.address }}</p>
                                <p class="party-notes">{{ track.notes }}</p>
                            </div>
                        </li>
                    {% else %}
                        {% comment %} Breaks, transport and anything else {% endcomment %}
                        <li class="break">
                            <p class="break-time">{{ track.hour }}</p>
                            <div class="break-emoji">
                                {% include svg/icons/{{ track.emoji }} %}
                            </div>
                            <div class="break-title">
                                <p>{{ track.title }}</p>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path class="triangle" d="M0 100 L100 100 L100 0 Z"></path>
    </svg>
</section>