{% assign t = site.data.lang.[page.lang] %}
<!--<section class="svg">{% include fig_clouds.svg %}</section>-->
<!--<section class="svg">{% include fig_footer.svg %}</section>-->
<footer>
    <div>
        <!--
        <p class="title">{{ t.footer.title }}</p>
        {% include social.html %}
        -->
        <div>
            <p class="title">{{ t.footer.question }}</p>
        </div>
        <div>
            <a href="mailto:hola@scaleconfco.com" class="mail" onclick="ga('send', 'event', 'Questions', 'click', '2018');">hola@scaleconfco.com</a>
        </div>
    </div>
</footer>
<script>
    (function () {
        var nav_toggle = document.querySelector('.nav-toggle');
        var nav = document.querySelector('.nav');
        nav_toggle.addEventListener('click', function(e) {
            this.classList.toggle('opened');
            nav.classList.toggle('show');
        });
    })();

    function showMore(selfId, id) {
        document.getElementById(selfId).style.display = "none";
        document.getElementById(id).style.display = "block";
    }
    function showLess(selfId, id) {
        document.getElementById(selfId).style.display = "none";
        document.getElementById(id).style.display = "block";
    }
</script>