{% assign t = site.data.[page.lang].hotel %}
<section class="venue">
    <div class="venue-information">
        <svg viewbox="0 0 10 1.2">
            <text x="4.93" y="0.93">{{ t.title }}</text>
            <text x="5" y="1">{{ t.title }}</text>
        </svg>
        <p>{{ t.first }}</p>
        <div>
            <div>
                <h4>{{ t.hotel.name }}</h4>
                <p>{{ t.address }}: {{ t.hotel.address }}</p>
                <a class="button blueButton" href="{{ t.hotel.website }}">{{ t.hotel.linkText }}</a>
            </div>
        </div>
    </div>
</section>