{% assign t = site.data.lang.[page.lang] %}
<section class="mailingList">
    <div>
        <p class="title">{{ t.mailing.title }}</p>
        <form action="//scaleconfco.us13.list-manage.com/subscribe/post?u=5e496acbac5eeec4a22312bd0&amp;id=96c6dc44ae" method="post">
            <input type="email" name="EMAIL" placeholder="" class="formEmail"
            />
            <input type="submit" value="{{ t.mailing.button }}" class="emailSubscribe blueButton formButton" onclick="ga('send', 'event', 'Join mailing list', 'click', '2018');"/>
        </form>
        <p class="title">{{ t.mailing.follow }}</p>
        {% include social.html %}
    </div>
</section>