{% assign t = site.data.[page.lang].nav %}
<nav class="nav-mobile">
    <button class="nav-toggle">
        <span class="bar-top"></span>
        <span class="bar-mid"></span>
        <span class="bar-bot"></span>
    </button>
</nav>
<nav class="nav">
    <ul>
        <li><a href="/#tickets">{{ t[0] }}</a></li>
        <li><a href="/#speakers">{{ t[13] }}</a></li>
        <li><a href="/#agenda">{{ t[15] }}</a></li>
        <li><a href="/#sponsors">{{ t[9] }}</a></li>
        <li class="dropdown">
            <span>{{ t[2] }}</span>

            <ul>
                <li><a href="/#venue">{{ t[4] }}</a></li>
                <li><a href="/#hotel">{{ t[16] }}</a></li>
                <li><a href="/#accessibility">{{ t[5] }}</a></li>
                <li><a href="/city-guide">{{ t[6] }}</a></li>
                <li><a href="/code-of-conduct">{{ t[7] }}</a></li>
                <li><a href="/faq">{{ t[8] }}</a></li>
                <li><a href="/#scholarship">{{ t[14] }}</a></li>
                <li><a href="http://2017.scaleconfco.com" onclick="ga('send', 'event', 'button', 'click', 'History 2017');">{{ t[10] }}</a></li>
                <li><a href="http://2018.scaleconfco.com" onclick="ga('send', 'event', 'button', 'click', 'History 2018');">{{ t[11] }}</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLNzJbJJ4LKBQGepe40lfxLAAAuXRC4Yxm" target="_blank" onclick="ga('send', 'event', 'button', 'click', '2018 Videos');">{{ t[12] }}</a></li>
            </ul>
        </li>

        <div>
            <li><a href="mailto:hola@scaleconfco.com?subject=Scaleconfco%E2%80%99s%20sponsorship&body=I%20would%20like%20more%20information%20on%20Scaleconfco%E2%80%99s%20sponsorship." class="sponsor-button" onclick="ga('send', 'event', 'button', 'click', 'Become a sponsor');">{{ t[3] }}</a></li>
            <li><a href="/" class="nav-lang {% if page.lang == 'en' %}active{% endif %}" onclick="ga('send', 'event', 'lang', 'click', 'EN');">EN</a></li>
            <li><a href="/es/" class="nav-lang {% if page.lang == 'es' %}active{% endif %}" onclick="ga('send', 'event', 'lang', 'click', 'ES');">ES</a></li>
        </div>
    </ul>
</nav>
