{% assign t = site.data.[page.lang] %}
<nav class="nav-mobile">
    <button class="nav-toggle">
        <span class="bar-top"></span>
        <span class="bar-mid"></span>
        <span class="bar-bot"></span>
    </button>
</nav>
<nav class="nav">
    <ul>
        <li><a href="http://2017.scaleconfco.com" onclick="ga('send', 'event', 'button', 'click', 'History 2017');">{{ t.nav[0] }}</a></li>
        <li><a href="http://2018.scaleconfco.com" onclick="ga('send', 'event', 'button', 'click', 'History 2018');">{{ t.nav[1] }}</a></li>
        <li><a href="mailto:hola@scaleconfco.com?subject=Scaleconfco%E2%80%99s%20sponsorship&body=I%20would%20like%20more%20information%20on%20Scaleconfco%E2%80%99s%20sponsorship." class="sponsorButton" onclick="ga('send', 'event', 'button', 'click', 'Become a sponsor');">{{ t.nav[2] }}</a></li>
        <li><a href="/" class="nav-lang {% if page.lang == 'en' %}active{% endif %}" onclick="ga('send', 'event', 'lang', 'click', 'EN');">EN</a></li>
        <li><a href="/es/" class="nav-lang {% if page.lang == 'es' %}active{% endif %}" onclick="ga('send', 'event', 'lang', 'click', 'ES');">ES</a></li>
    </ul>
</nav>
