section.agenda {
    display: flex;
    flex-direction: column;
    background-color: $purple-dark;
    padding: 0;
    margin-bottom: 5rem;
    svg {
        fill: $white;
        stroke: $white;
        margin: -1px;
        text {
            text-anchor: middle;
            font-size: 1px;
            font-family: inherit;
            font-weight: bolder;
            text-transform: uppercase;
            stroke-width: .015;
            stroke: $white;
            &:first-child {
                fill: none;
            }
            &:last-child {
                fill: $purple-dark;
            }
        }
    }
    div.container {
        margin: 5rem auto;
        color: $white;
        h3 {
            text-align: center;
            color: $green;
            font-weight: 100;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            &:first-of-type {
                margin-bottom: 5rem;
            }
            &:after {
                content: '';
                width: 2px;
                background-color: $green;
                position: absolute;
                top: 4px;
                bottom: 4px;
                left: 50%;
                margin-left: -1px;
                z-index: 1;
            }
            li {
                position: relative;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: row;
                z-index: 3;
                justify-content: center;
                &.track {
                    align-items: flex-start;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 3px;
                        left: 49.4%;
                        border: 2px solid $green;
                        display: block;
                        width: 8px;
                        height: 8px;
                        background-color: $purple-dark;
                        z-index: 2;
                    }
                    &.reverse {
                        flex-direction: row-reverse;
                        .track-time {
                            text-align: start;
                            margin-right: 0;
                            margin-left: 4%;
                        }
                        .track-details {
                            margin-right: 4%;
                            margin-left: 0;
                        }
                        &.active {
                            justify-content: end;
                        }
                    }
                    &.active {
                        justify-content: start;
                        .track-time {
                            flex-basis: 42%;
                        }
                        .track-details-content-abstract {
                            max-height: 10000px;
                            opacity: 1;
                            padding: 1rem 0;
                            visibility: visible;
                        }
                    }
                    p {
                        color: $white;
                    }
                    .track-time {
                        flex-basis: 46%;
                        text-align: end;
                        margin-right: 4%;
                        transition: 0.2s ease-out;
                    }
                    .track-details {
                        flex-basis: 46%;
                        margin-left: 4%;
                        display: flex;
                        flex-direction: row;
                        &-image {
                            flex-basis: 30%;
                            > div {
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                border: 2px solid $green;
                                border-right: 0;
                                padding-top: 100%
                            }
                        }
                        &-content {
                            border: 2px solid $green;
                            flex-basis: 70%;
                            padding: 1rem;
                            position: relative;
                            &-collapse {
                                position: absolute;
                                width: 25px;
                                height: 25px;
                                bottom: 0;
                                right: 0;
                                border-top: 2px solid $green;
                                border-left: 2px solid $green;
                                text-align: center;
                                cursor: pointer;
                            }
                            &-abstract {
                                padding: 0;
                                font-weight: 100;
                                font-size: 0.9rem;
                                opacity: 0;
                                visibility: hidden;
                                max-height: 0;
                                transition: 0.2s ease-out;
                            }
                            &-speaker {
                                color: $green;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
                &.break {
                    align-items: center;
                    p {
                        color: $white;
                    }
                    .break-time {
                        flex-basis: 30%;
                        text-align: end;
                    }
                    .break-emoji {
                        flex-basis: 8%;
                        text-align: center;
                        z-index: 3;
                        svg {
                            background-color: $purple-dark;
                            border: 2px solid $green;
                            max-width: 1.5rem;
                            padding: 0.2rem;
                            z-index: 3;
                        }
                    }
                    .break-title {
                        flex-basis: 30%;
                    }
                }
            }
        }
    }
}

/*   Responsive Media Queries   */
@media screen and (max-width: 768px) {
    section.agenda {
        svg:not(.title) {
            bottom: 30px;
            height: 30px;
        }
        div.container {
            ul {
                &:after {
                    left: 29.7%;
                }
                li {
                    &.track {
                        &:before {
                            left: 28.8%;
                        }
                        .track-time {
                            flex-basis: 25%;
                            margin-right: (15 / 2) * 1%;
                        }
                        .track-details {
                            flex-basis: 70%;
                            margin-left: (15 / 2) * 1%;
                        }
                        &.reverse {
                            flex-direction: row;
                            .track-time {
                                text-align: end;
                                margin-right: (15 / 2) * 1%;
                                margin-left: 0;
                            }
                            .track-details {
                                margin-right: 0;
                                margin-left: (15 / 2) * 1%;
                            }
                        }
                        &.active {
                            .track-time {
                                flex-basis: (25 - ((15 / 2) * 1)) * 1%;
                            }
                        }
                    }
                    &.break {
                        .break-time {
                            flex-basis: 25%;
                        }
                        .break-emoji {
                            flex-basis: 15%;
                        }
                        .break-title {
                            flex-basis: 70%;
                        }
                    }
                }
            }
        }
    }
}