section.speakers {
    display: flex;
    flex-direction: column;
    background-color: $purple_dark;
    padding: 0;
    margin-bottom: 5rem;
    svg {
        fill: $white;
        stroke: $white;
        margin: -1px;
        text {
            text-anchor: middle;
            font-size: 1px;
            font-family: inherit;
            font-weight: bolder;
            text-transform: uppercase;
            stroke-width: .015;
            stroke: $white;
            &:first-child {
                fill: none;
            }
            &:last-child {
                fill: $blue-darkest;
            }
        }
    }
    div.container {
        margin: 5rem auto;
        > div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            position: relative;
            margin-top: 2rem;
            .speaker {
                padding: 0;
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 20%;
                margin-bottom: 1rem;
                p {
                    color: $white;
                    text-align: center;
                    font-weight: 100;
                    padding: 0 1rem;
                }
                &-name {
                    font-size: 1rem;
                    margin-top: 0.5rem;
                }
                &-description {
                    font-size: 0.8rem;
                }
                &-img {
                    position: relative;
                    padding-top: 80%;
                    margin: 0 10% 1rem;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 100%;
                    transition: 0.5s;
                    &-social {
                        top: 0;
                        bottom: 0;
                        display: flex;
                        position: absolute;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.5s;
                    }
                    &:hover {
                        background-color: $gray;
                        background-blend-mode: multiply;
                        .speaker-img-social {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

/*   Responsive Media Queries   */
@media screen and (max-width: 768px) {
    section.speakers {
        svg:not(.title) {
            bottom: 30px;
            height: 30px;
        }
    }
}
@media screen and (max-width: 440px) {
    section.speakers {
        div.container {
            margin: 3rem auto;
            div {
                a {
                    display: block;
                    margin: 1rem 2rem;
                }
            }
        }
    }
}