section.sponsors {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    svg {
        text {
            text-anchor: middle;
            font-size: 1px;
            font-family: inherit;
            font-weight: bolder;
            text-transform: uppercase;
            stroke-width: .015;
            stroke: $purple-dark;
            &:first-child {
                fill: none;
            }
            &:last-child {
                fill: $white;
            }
        }
    }
    div {
        p {
            display: flex;
            margin-bottom: 0.7rem;
            color: $purple-dark;
            justify-content: center;
            a {
                margin: 2rem auto 0;
            }
        }
        &.sponsors-category {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            h4 {
                font-size: 1.5rem;
                line-height: 1.5rem;
                margin: 0;
                padding: 0;
                color: $purple-dark;
            }
            div.sponsors-list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .sponsor {
                    img {
                        width: 100%;
                    }
                }
            }
            &.platinum .sponsor {
                max-width: 20rem;
            }
            &.gold .sponsor {
                max-width: 15rem;
            }
            &.bronze .sponsor {
                max-width: 8rem;
            }
        }
    }
    .sponsors-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 2rem 0 0;
        .sponsor-button {
            background-color: $green;
            border-radius: 20px;
            color: $purple-dark;
            padding: 0.5rem 1.5rem;
            transition: 0.2s;
            &:hover {
                color: $white;
            }
        }
    }
}