section.venue {
    &.svg {
        margin: 0 0 5rem;
        height: 0;
        .svg-banner {
            bottom: 104px;
            &:first-of-type {
                bottom: 600px;
            }
        }
    }
    &.fluid {
        margin: 0;
        padding: 0;
    }
    svg {
        text {
            text-anchor: middle;
            font-size: 1px;
            font-family: inherit;
            font-weight: bolder;
            text-transform: uppercase;
            stroke-width: .015;
            stroke: $blue-darkest;
            &:first-child {
                fill: none;
            }
            &:last-child {
                fill: $white;
            }
        }
    }
    .venue-information {
        > p {
            margin-bottom: 0.7rem;
            color: $blue-darkest;
            text-align: center;
        }
        > div {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;
            > div {
                width: 100%;
                text-align: center;
                h4 {
                    color: $blue-darkest;
                }
                h4, p {
                    margin: 0;
                    padding: 0;
                }
                a {
                    display: inline-block;
                    margin-top: 1rem;
                }
            }
        }
    }
    .map-window {
        p {
            margin: 0;
            padding: 0;
            text-align: center;
            &.map-title {
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }
}