header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $purple-dark;
    margin: 0;
    > div {
        color: $white;
        width: 100%;
        margin: 20vh 0 10vh;
        svg {
            font-weight: 800;
            margin: 0 15% 2rem;
        }
        p {
            display: flex;
            justify-content: center;
            &.dates {
                background-color: $purple-dark;
                color: $green;
                font-size: 1.6rem;
                padding: 5px 0;
                margin: 0 35%;
            }
        }
        .tickets {
            display: flex;
            justify-content: center;
            margin: 0 40%;
            margin-top: 2rem;
            background-color: $white;
            border-radius: 20px;
            color: $purple-dark;
            padding: 0.5rem 1.5rem;
            transition: 0.2s;
            &:hover {
                background-color: $blue-lighter;
                color: $white;
            }
        }
    }
}

/*   Responsive Media Queries   */
@media screen and (max-width: 768px) {
    header {
        padding: 15vh 0 0;
        > div {
            margin-top: 0;
            margin-bottom: 5vh;
            svg {
                margin: 0 5% 0;
            }
            p {
                &.dates {
                    text-align: center;
                    font-size: 1.3rem;
                    margin: 0;
                }
            }
            .tickets {
                text-align: center;
                margin: 1rem 25% 2rem;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    header {
        p.dates {
            margin: 0 20%;
        }
    }
}